body {
    margin: 0px;
    font-family: "Josefin Sans";
    background-color: dimgrey;
    background-image: url("./img/universe.jpg");
    background-size: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, blue, white, black);
    margin-bottom: 16px;
}

nav a {
    font-size: 16px;
    margin-right: 90px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 60px;
    color: black;
    transition: transform 0.3s ease-out;
    transition: background-color 0.5s in elastic;
}

nav a:hover {
    transform: scale(1.5);
}

nav h1 {
    justify-content: center;
    margin-right: 6%;
    transition: transform 0.3s ease-out;
    color: black;
    text-align: center;
}

@keyframes title {
    0% {
        color: black;
    }
    50% {
        color: yellow;
    }
    100% {
        color: blue;
    }
}

nav h1:hover {
    transform: scale(1.5);
    animation-name: title;
    animation-duration: 4s;
}

img {
    width: 400px;
    border: 5px double black;
    border-radius: 30px;
}

h1 {
    color: white;
    padding: 5px;
}

div {
    color: white;
    padding: 25px;
    text-align: justify;
}

#container {
    background-color: rgb(23, 51, 164);
    width: 40%;
    margin: auto;
    text-align: center;
    border: 4px dashed black;
    border-radius: 40px;
}

.bigbang {
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
}

.nova {
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
}

.eclipses {
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
}

.bigbang:hover,
.nova:hover,
.eclipses:hover {
    transform: scale(1.1);
}

.containerBooks {
    background-color: rgb(146, 146, 218);
    width: 40%;
    margin: auto;
    text-align: center;
    border: 4px double black;
    border-radius: 40px;
    margin-bottom: 16px;
}

.libros {
    background-image: url("./img/booksWallpaper.jpg");
}

.homosapiens {
    width: 300px;
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
}

.homosapiens:hover {
    transform: scale(1.1);
}

.homodeus {
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
    width: 300px;
}

.homodeus:hover {
    transform: scale(1.1);
}

.lecciones {
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
    width: 300px;
}

.lecciones:hover {
    transform: scale(1.1);
}

.ahora {
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
    width: 300px;
}

.ahora:hover {
    transform: scale(1.1);
}

.gamesWallpaper {
    background-image: url("./img/games2.jpg");
    background-size: 30%;
}

.containerGames {
    background-image: linear-gradient(to right, red, orange, green);
    width: 40%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    border: 3px solid black;
    padding: 20px;
}

.containerGames h1 {
    font-size: 50px;
}

.containerGames h2 {
    font-size: 30px;
}

.containerGames ul a {
    text-decoration: none;
    color: white;
    text-align: justify;
    font-size: 30px;
}

.containerGames a {
    width: 400px;
}

.opinionSection {
    background-image: linear-gradient(to bottom, gray 25%, rgb(72, 72, 133) 75%, blue 100%);
}

.sectionContainer h1 {
    font-size: 40px;
    color: rgb(70, 70, 191);
    transition: transform 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.sectionContainer h1:hover {
    transform: translateX(20px);
}

#zelda,
#elden_ring,
#RE2 {
    box-shadow: -1px 1px 15px 5px #000000;
    transition: transform 0.3s ease-out;
    width: 300px;
}

#zelda:hover,
#elden_ring:hover,
#RE2:hover {
    transform: scale(1.1);
}

footer {
    background-color: rgb(54, 50, 50);
    margin-top: 10px;
}

label {
    font-size: 20px;
}

#buttom {
    font-size: 30px;
    border: 6px solid black;
}

#name,
#email,
#comment {
    font-size: 20px;
    border: 6px solid black;
    box-shadow: 0px 0px 10px 2px black;
}