body {
    margin: 0px;
    font-family: "Josefin Sans";
    background-image: url("./img/newPlanet.jpg");
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, blue, white, black);
    margin-bottom: 16px;
}

nav a {
    font-size: 16px;
    margin-right: 85px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 60px;
    color: black;
    transition: transform 0.3s ease-out;
    transition: background-color 0.5s in elastic;
}

nav a:hover {
    transform: scale(1.5);
}

nav h1 {
    justify-content: center;
    margin-right: 6%;
    transition: transform 0.3s ease-out;
    color: black;
}

@keyframes title {
    0% {
        color: black;
    }
    50% {
        color: rgb(224, 103, 47);
    }
    100% {
        color: rgb(238, 196, 60);
    }
}

nav h1:hover {
    transform: scale(1.5);
    animation-name: title;
    animation-duration: 4s;
}

h1 {
    text-align: center;
    transition: transform 0.3s ease-out;
    transition: background-color 0.5s in elastic;
    color: white;
}

@keyframes title2 {
    50% {
        color: rgb(53, 75, 183);
    }
    100% {
        color: rgb(28, 20, 178);
    }
}

h1:hover {
    transform: scale(1.8);
    animation-name: title2;
    animation-duration: 5s;
}

div {
    text-align: justify;
    color: white;
    padding: 10px;
}

.astronomy a,
.books a,
.games a {
    display: inline-block;
    text-decoration: none;
    background-color: darkgoldenrod;
    padding: 10px;
    color: white;
}

img {
    width: 400px;
}

.books img {
    height: 200px;
}

.container {
    display: grid;
    width: 400px;
    justify-content: space-between;
    gap: 142px;
}

.astronomy {
    border: 3px solid black;
    margin-bottom: 16px;
    margin-left: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    cursor: pointer;
    box-shadow: -1px 1px 15px 5px #000000;
    background-color: rgb(36, 36, 39);
}

.games {
    border: 3px solid black;
    margin-bottom: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    cursor: pointer;
    box-shadow: -1px 1px 15px 5px #000000;
    background-color: rgb(36, 36, 39);
}

.books {
    border: 3px solid black;
    margin-bottom: 16px;
    grid-column-start: 3;
    grid-column-end: 4;
    cursor: pointer;
    box-shadow: -1px 1px 15px 5px #000000;
    background-color: rgb(36, 36, 39);
}

.footer {
    margin-bottom: 16px;
    grid-row: 2;
    margin: 0 25px 0 10px;
    padding: 4%;
    cursor: pointer;
    background-color: rgb(36, 36, 39);
    color: white;
}

footer a {
    text-decoration: none;
    color: yellow;
}

.footer div {
    margin-bottom: 1px;
}

.astronomy:hover,
.games:hover,
.books:hover {
    box-shadow: -1px 1px 15px 10px #000000;
}